@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-green: #B9FF66;
  --accent-dark: #191A23;
  --accent-gray: #F3F3F3;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shadow-customized{
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}


